# Auth.js
AUTH_SECRET=your-auth-secret-here
AUTH_GOOGLE_ID=your-google-client-id
AUTH_GOOGLE_SECRET=your-google-client-secret

# PayPal (Sandbox)
PAYPAL_CLIENT_ID=AWpItvsSz5htPWbkgAkzqJXxISN8ei-pGt2kFDPlMfr_T17DMnTkLU0_xM3GFBlUyBmPsBs0PXMfQ2AV
PAYPAL_CLIENT_SECRET=EKdNf-K4XTyIMc5cfil6TuCVxWi1OL4vEvrCEM0t3kUEfCIPlwUDFtgdQWi3JFX_14B49bstMna0BnlL
NEXT_PUBLIC_PAYPAL_CLIENT_ID=AWpItvsSz5htPWbkgAkzqJXxISN8ei-pGt2kFDPlMfr_T17DMnTkLU0_xM3GFBlUyBmPsBs0PXMfQ2AV
PAYPAL_BASIC_PLAN_ID=P-4XL29583AY501873WNGYPBAY
PAYPAL_PRO_PLAN_ID=P-18E54190AJ4734118NGYPBBA

# Remove.bg API
REMOVEBG_API_KEY=your-removebg-api-key
